@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');


body {
    background-color: #fdbc86;
    margin: 0 auto;
    max-width: 1600px;
}

header {
    background-color: #70101e;
    display: grid;
    /* max-height: 250px; */
    /* grid-template-rows: 1fr .5fr 50px;*/
    grid-template-columns: 3fr 100px; 
}

/*header {
    grid-template-rows: 50px 1fr 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
}
*/
#title-chamber {
    font-size: .5em;
}

#timedBanner {
    position: absolute;
    margin: 5px;
    border: solid black 3px;
    padding: 5px;
    background-color: rgb(250, 235, 215, .7);
    color: rgb(7, 7, 7);
    font-family: "Spline Sans", sans-serif;
}

header h1 h3 {
    float: right;
    padding: 10px;
    margin: 0;
}

#main-title {
    /*grid-row: 2/3;*/
    display: flex;
    margin: auto;
    color: rgba(243, 239, 229, 0.842);
}
#media-div {
    /*grid-row: 3/4;*/
    padding: 0;
    margin: auto;
}

/*#date {
    grid-row: 3/4;
}
*/
#logo-link {
    width: 50px;
    margin: 10px;
    border: 3px solid black;
}

#footer-logo {
    width: 80px;
    margin: 10px;
    border: 3px solid black
}

#media-div a {
    text-decoration: none;
    padding: 3px;
}

#media-div a img {
    width: 30px;
}

nav {
    background-color: rgba(223, 13, 13, 0.233);
    grid-column: 1/4;
    grid-row: 3/4;
}

nav {
    grid-row: 4/5;
    padding: 0 auto;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #ffffff;
}
nav button:hover {
    color: rgba(0,0,0,0.2);
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #f1eded;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    grid-row: 2/3;
}

#hambergerBtn span:nth-child(1) {
    display: block;
}

#hambergerBtn span:nth-child(2) {
    display: none;
}

#hambergerBtn.open span:nth-child(1) {
    display: none;
}

#hambergerBtn.open span:nth-child(2) {
    display: block;
}

#date {
    grid-row: 2/3;
    grid-column: 1/3;
    margin: auto;
    padding-inline: 150px;
    padding-block: 8px;
    background-color: rgba(223, 13, 13, 0.2);
    text-align: center ;
    font-family: "Spline Sans", sans-serif;
    font-size: 1.2em;
    color: beige;
    border: 2px solid rgba(0, 0, 0, 0.5);
}


/* Content */

main {
    display: grid;
    grid-template-rows: repeat(4, 1fr)

}

.webElement {
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(223, 219, 219, 0.5);
    border: 2px solid black;
}

#spot-sect {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#spot1 {
    padding: 4px;
    margin: 5px;
    border: 2px solid rgb(122, 122, 122);
}

#spot2 {
    padding: 4px;
    margin: 5px;
    border: 2px solid rgb(122, 122, 122);
}

#spot3 {
    padding: 4px;
    display: none;
    margin: 5px;
    border: 2px solid rgb(122, 122, 122);
}

footer {
    background-color: rgb(112, 16, 30);
    color: whitesmoke;
    text-align: center;

}

footer a{
    color: rgb(0, 0, 255);
}

footer a:hover {
    color: rgba(0, 0, 205)
}

#dev-detail {
    text-align: center;
    border-top: 1px solid grey;
}
#join {
    display: none;
}

a {
    text-decoration: none;
}

a h2 {
    color: coral;
}

a h2:hover {
    color: slategray;
}

footer div img {
    width: 500px;
    border: solid black 4px;
}

.windChill {
    background-color: blue;
    color: #f1eded;
    padding: 1px;
    text-align: center;
    font-size: larger
}

/* Discover Page*/
#discover {
    padding: 5px;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}

#statistics {
    background-color: rgba(138, 138, 138, 0.5);
}

#facts {
    background-color: rgba(138, 138, 138, 0.5);
}

.photos div {
    border: solid black 3px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    /*width: 600px;*/
}

.photos p {
    padding: 5px;
}

.photos img {
    width: 350px;
    height: 250px;
    border: solid black 2px;
    margin: 5px;
}

.photos {
    grid-row: 1/4;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;

}

#chamber {
    grid-column: 2/4;
    grid-row: 3/4;
}

#chamber img {
    float: left;
}

#oldClarksville {
    grid-column: 1/3;
    grid-row: 2/3;
}

#oldClarksville img {
    float: right;
}

#carshow {
    grid-column: 2/3;
    grid-row: 3/4;
}

#countyOverlook {
    grid-row: 1/2;
    grid-column: 2/4;
}

#countyOverlook img {
    float: left;  
}

#carshow {
    grid-column: 1/2;
    grid-row: 3/4;
}

#statistics {
    border: solid black 3px;
    padding: 5px;
}

#facts {
    border: solid black 3px;
}

