body {
    height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


main {
    background-color: aqua;
    padding: 5px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.delete {
	width: fit-content;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul {
	margin: 1rem;
	list-style: none;
}
.list {
	padding: 0.5rem;
}
